*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body{
    margin:0;
    background-color: #191717;
}

.leahmoz-gif{
    width:100%;
}

a{
    color:#EFEFED;
    text-decoration: none;
}

.portfolio-link{
    color:#EFEFED;
    text-align: center;
    font-size: 150%;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    margin-top:10px;
    margin-bottom:15px;
}

